{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+HK:wght@300&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
	{% block style %}
        <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
        <link rel="stylesheet" href="{% static 'news/css/inc/header_footer.css' %}">
    {% endblock %}
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body id="body">
	<div class="wrapper">
		<header class="header">
			<div class="header-content">
				<nav class="menu">
					<ul class="not-mobile-screen" id="nms">
						<li class="common-item"><a href="{% url 'news' %}">Новини</a></li>
						<li class="common-item"><a href="{% url 'add_news' %}">Добавити питання</a></li>
						<li class="common-item"><a href="{% url 'users' %}">Користувачі</a></li>
						<li class="common-item"><a href="{% url 'profile' request.user.id %}">Профіль</a></li>
						<li class="common-item"><a href="{% url 'logout' %}">Вийти</a></li>
					</ul>
                    <div class="burger-menu" id="bg">
                        <span></span>
                    </div>
				</nav>
			</div>
		</header>
        {% block content %}
		<div class="content">
			<div class="content-title"><h1>Пости</h1></div>
			<div class="content-row">
				<div class="row">
                    {% for i in news %}
                        <div class="post">
                            <div class="post-content">
                                <div class="img-user">
                                    {% if i.author.userimage_set.first.image.url %}
                                        <img src="{{ i.author.userimage_set.first.image.url }}" class="img-profile">
                                    {% else %}
                                        <img src="{% static 'news/image/user (1).png' %}" class="img-profile">
                                    {% endif %}
                                </div>

                                <div class="user-post">
                                    <h2 class="post-title"><a href="{% url 'detail_news' i.id %}">{{ i.title }}</a></h2>
                                    <p class="anons-post">{{ i.text|truncatechars:80 }}</p>
                                    <p class="post-data-view">
                                        <span class="span-date">{{ i.date|date:"Y/m/d H:i" }}</span><br>
                                        <span class="span-view">{{ i.view }} переглядів</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
			<div class="pagination">
				<ul>
                    <li>
                        {% if news.has_previous %}
                        <a href="{% url 'news' %}?page={{news.previous_page_number}}" class="paginator-button">Попередня</a>
                        {% else %}
                            <a href="#">Попередня</a>
                        {% endif %}
                    </li>
					<li><a href="#">{{ news.number }} з {{ news.paginator.num_pages }}</a></li>
                    <li>
                        {% if news.has_next %}
                        <a href="{% url 'news' %}?page={{news.next_page_number}}" class="paginator-button">Наступна</a>
                        {% else %}
                            <a href="#">Наступна</a>
                        {% endif %}
                    </li>

				</ul>
			</div>
		</div>
        {% endblock %}

        <footer class="footer">
			<div class="footer-content">
				<p>© 2021. Автор проєкта: Захарків Віталій vzaharkiv28@gmail.com</p>
			</div>
		</footer>
	</div>
    <script src="{% static 'news/js/header.js' %}">

    </script>
</body>
</html>